body {
  background-color: rgb(42, 42, 42);
  color: #f0f0f0;
}

a {
  color: #af7ff0;
  font-weight: bold;
  text-decoration-line: none;
}

p {
  margin: 0px;
}

h1 {
  color: #f0f0f0;
  margin: 0px;
}

h3 {
  margin: 0px;
}

ul {
  margin: 0px;
}

.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.vr {
  border-left: 5px solid #eeeeee;
  width: 1px;
  border-radius: 2px;
}

.box {
  background-image: radial-gradient(#636363ff 50%, #63636333);
  border-radius: 2px;
  background-size: cover;
}

.box img {
  width: 80%;
  min-width: 128px;
  height: auto;
  display: block;
}

.def-style {
  margin: 25px;
  padding: 15px;
}

.outer-style {
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 25px;
  padding: 15px;
  gap: 0px;
}

.big-side-marigns {
  margin-left: 125px;
  margin-right: 125px;
}

.hidden {
  display: none;
}

@keyframes selected-radio-element {
  0% {transform: translateY(0px);}
  50% {transform: translateY(2px);}
  100% {transform: translateY(0px);}
}

.radio-label {
  display: inline-block;
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #6a6a6a;
  background-color: #7a7a7a;
}

.radio-element:checked + .radio-label {
  background: radial-gradient(#af7ff0, #7f3fb0);
  border: 1px solid #333333;
  color: #434343;
  animation-name: selected-radio-element;
  animation-duration: 100ms;
  animation-timing-function: linear();
}

.default-position {
  justify-content: start;
  align-items: start;
}

.center {
  justify-content: center;
  align-items: center;
}

@keyframes spinAnimation {
  0% {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
  100% {transform: rotateX(360deg) rotateY(-720deg) rotateZ(360deg);}
}

.image-spin {
  height: 10px;
  width: auto;
  transform: perspective(300px);
  animation-name: spinAnimation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#shit-part-image {
  flex: 2;
}

#shit-part-body {
  flex: 5;
}

#shit-part-image-spin {
  flex: 1;
}
